{
  "importOrder": ["^node:(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
